/*-------------------------------NAVEGACION INICIAL------------------------------------------------------------*/
body{

	background-image: url("fondo.jpg");
	min-width:900px;
}


#nv button {
    float:all;
    vertical-align: center;
    padding: 30px 50px;
    color: #fff;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    background-color: #2b99ff;
    background-image: linear-gradient(#aa0000, #ff5d5d);
    border: 40px;
    border-radius: 10px;
    margin-bottom: 50px;
    
}

#nv button:hover{
    color: #2b99ff;
}

/*-------------------------------TABLA DE AUTOS---------------------------------------------------------------*/

div.table-title {
  max-height: 500px;
  max-width: 1000px;
  width: 800px;
  margin-top: 50px;
  margin:auto;
}

h3 {
   color: #fafafa;
   font-size: 12px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   float:right;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 200px;
  margin: auto;
  max-width: 1000px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  font-family: "Roboto", helvetica, arial, sans-serif;
}
 
th {
  color:#FFF;;
  background:#ff5d5d;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:12px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:12px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

#boton_tabla{
    float: left;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font: bold 10px Arial, Helvetica;
    text-decoration: none;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border: 0px;
    border-radius: 10px;
}

#boton_tabla:hover{
    color: #D8D8D8;
}

#boton_tablab{
    float: right;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font: bold 10px Arial, Helvetica;
    text-decoration: none;
    background-color: #4CAF50;
    background-image: linear-gradient(#444, #111);
    border: 0px;
    border-radius: 10px;
    margin-right:600px;
}

/*------------------------------------------FORM LOGIN--------------------------------------------*/

.login-page {
  width: 360px;
  max-height: 500px;
  padding: 2% 0 0;
  margin: auto;
}
.form {

  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
  max-width: 360px;
  margin-top: 50px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff5d5d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 20px;
  display: block;
  vertical-align: bottom;
  position: relative;
}
.form .message label {
  color: #4CAF50;
  text-decoration: none;
}
.container {
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

